{% extends "layout.html" %}
{% block page_name %}Home{% endblock %}
{% block add_head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<script type="text/javascript" src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='js/leaflet-ajax.min.js') }}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <h2>Input</h2>
                    <form action="">
                        <div class="form-group">
                            <label for="class-types">Choose a Classifier</label>
                            <select id="classifier" name="classifier" class="form-control custom-select" required>
                                <option value="">Select</option>
                                {% for c in classifiers %}
                                <option value="{{ c.id }}">{{ c.description }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="area-types">Choose an Area Type</label>
                            <div class="form-check" id="area-types">
                                <input class="form-check-input" type="radio" name="area-type" id="area-type-district" value="d" checked>
                                <label class="form-check-label" for="area-type-district">
                                  Police Districts
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="area-type" id="area-type-neighborhood" value="n">
                                <label class="form-check-label" for="area-type-neighborhood">
                                  Neighborhoods
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="date">Select a Date and Time</label>

                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                <input name="date" value="{{ calendar }}" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
            
                        </div>
                        <div class="form-group">
                            <label {% if area_type != "d" %}class="invisible"{% endif %} id="district-select-label" for="district-select">Choose a District</label>
                            <select id="district-select" name="district" class="form-control custom-select" required>
                                <option value="">Select</option>
                                {% for d in districts %}
                                    <option value="/district/{{ d.id }}">{{ d.id }}</option>
                                {% endfor %}
                            </select>
                            <label {% if area_type != "n" %}class="invisible"{% endif %} id="neighborhood-select-label" for="neighborhood-select">Choose a Neighborhood</label>
                            <select class="form-control custom-select invisible" id="neighborhood-select" name="neighborhood">
                                <option value="">Select</option>
                                {% for n in neighborhoods %}
                                    <option value="/neighborhood/{{ n.id }}">{{ n.mapname }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group text-center">
                            <button id="submit-btn" class="btn btn-md btn-success" type="submit">Predict</button>
                        </div>
                    </form>
                </div>
            </div>
            {% if prediction %}
            <hr>
            <h4>Prediction: {{ prediction }}</h4>
            {% if points %}
                <p>{{ points.features|length }} incident(s) over last 15 days</p>
            {% endif %}
            {% endif %}
        </div>
        <div class="col-md-8">
            <h2>Map</h2>
            <div id="map"></div>
            <script type="text/javascript" nonce="{{ csp_nonce() }}">
                $(function () {
                    var mymap = L.map("map", {
                        center: [{{ y }}, {{ x }}], 
                        zoom: 15,
                        zoomControl: false,
                        doubleClickZoom: false,
                        dragging: false,
                        boxZoom: false,
                        scrollWheelZoom: false
                    });
                    
                    L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}{r}.{ext}', {
                        attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                        subdomains: 'abcd',
                        minZoom: 0,
                        maxZoom: 20,
                        ext: 'png'
                    }).addTo(mymap);
                    
                    {% if geojson %}
                    var current_area = L.geoJSON({{ geojson|safe }});
                    current_area.addTo(mymap);
                    mymap.fitBounds(current_area.getBounds());
                    {% endif %}

                    {% if points %}
                    var inc = L.geoJSON({{ points|safe }}, {
                        pointToLayer: function(feature, latlng) {
                            return new L.CircleMarker(latlng, {
                                radius: 3,
                                fillColor: "red",
                                color: "#000",
                                weight: 1,
                                opacity: 1,
                                fillOpacity: 1
                            });
                        }
                    });
                    inc.addTo(mymap);
                    {% endif %}
                    var uri;
                    var atype;
                    $("input[type=radio][name='area-type']").on("change", function() {
                        atype = $(this).val();
                        $("form").attr("action", "");
                        if (atype === "n") {
                            $("#district-select").addClass("invisible");
                            $("#district-select").prop("required", false);
                            $("#district-select-label").addClass("invisible");
                            $("#neighborhood-select").removeClass("invisible");
                            $("#neighborhood-select").prop("required", true);
                            $("#neighborhood-select-label").removeClass("invisible");
                        } else {
                            $("#district-select").removeClass("invisible");
                            $("#district-select").prop("required", true);
                            $("#district-select-label").removeClass("invisible");
                            $("#neighborhood-select").addClass("invisible");
                            $("#neighborhood-select").prop("required", false);
                            $("#neighborhood-select-label").addClass("invisible");
                        }
                    });
                    $("#district-select, #neighborhood-select").on("change", function() {
                        $("form").attr("action", $(this).val());
                    });

                    var area_type = "{{ area_type }}";
                    var selected = "{{ selected }}";
                    $("input[name=area-type][value=" + area_type + "]").attr('checked', true);
                    var $show, $hide;
                    if (area_type === "d") {
                        $show = $("#district-select");
                        $hide = $("#neighborhood-select");
                    } else {
                        $hide = $("#district-select");
                        $show = $("#neighborhood-select");
                    }
                    $show.removeClass("invisible");
                    $show.prop("required", true);
                    $show.val(selected);
                    $hide.addClass("invisible");
                    $hide.prop("required", false);
                    $hide.val("");
                    $("#classifier").val("{{ selected_classifier }}");

                    $( "form" ).submit(function( event ) {
                        $("#submit-btn").html("<i class='fas fa-spinner fa-spin'></i>")
                        .prop("disabled", true);
        
                    });
                });
                $("#home").addClass("active");
                
                $(function () {
                    $('#datetimepicker1').datetimepicker();
                });
            </script>
        </div>
    </div>
</div>
{% endblock %}
